@model Mouse.Models.ProductViewModel.ProductVM //Etro gaijatra lekhna na paros vanera ViewImpoerts ma halda hunxa. then you can just do a @model ProductVM
<h1 class="ms-1 mb-4" style="color:darkgrey"> Create View</h1>
<form method="post" enctype="multipart/form-data">
    <div class="border rounded p-1 m-2">
        <div class ="text-danger" asp-validation-summary="All"></div> @*summary le chai sab lai ekai taal ma dekhauxa All ko satta Model use garda maal hunxa*@
      
        <div class="row m-2 p-2">
            <div class="col-12">
             <label asp-for="Product.Title" class="mb-1"></label>
             <input asp-for="Product.Title" class="form-control" />
             <span asp-validation-for="Product.Title" class="text-danger"></span>
            </div>
        </div>
         
        <div class="row m-2 p-2">
            <div class="col-12">
                <label asp-for="Product.Author" class="mb-1"></label>
                <input asp-for="Product.Author" class="form-control" />
                <span asp-validation-for="Product.Author" class="text-danger"></span>
            </div>
        </div>

        <div class="row m-2 p-2">
            <div class="col-12">
                <label asp-for="Product.Description" class="mb-1"></label>
                <input asp-for="Product.Description" class="form-control" />
                <span asp-validation-for="Product.Description" class="text-danger"></span>
            </div>
        </div>
        <div class="row m-2 p-2">
            <div class="col-12">
                <label asp-for="Product.ISBN" class="mb-1"></label>
                <input asp-for="Product.ISBN" class="form-control" />
                <span asp-validation-for="Product.ISBN" class="text-danger"></span>
            </div>
        </div>
        <div class="row m-2 p-2">
            <div class="col-12">
                <label asp-for="Product.Price" class="mb-1"></label>
                <input asp-for="Product.Price" class="form-control" />
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>
        </div>
        <div class="row m-2 p-2">
            <div class="col-12">
                <label asp-for="Product.ListPrice" class="mb-1"></label>
                <input asp-for="Product.ListPrice" class="form-control" />
                <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
            </div>
        </div>
        <div class="row m-2 p-2">
            <div class="col-12">
                <label asp-for="Product.Price50" class="mb-1"></label>
                <input asp-for="Product.Price50" class="form-control" />
                <span asp-validation-for="Product.Price50" class="text-danger"></span>
            </div>
        </div>
        <div class="row m-2 p-2">
            <div class="col-12">
                <label asp-for="Product.Price100" class="mb-1"></label>
                <input asp-for="Product.Price100" class="form-control" />
                <span asp-validation-for="Product.Price100" class="text-danger"></span>
            </div>
        </div>
        <div class="row m-2 p-2">
            <div class="col-12">
                <label asp-for="Product.ImageUrl" class="mb-1"></label>
                <input type="file" class="form-control" />
            </div>
        </div>
        <div class="row m-2 p-2">
            <div class="col-12">
                <label asp-for="Product.CategoryId" class="mb-1"></label>
                <select asp-for="Product.CategoryId" asp-items="@Model.CategoryList" class="form-control"> @*If shit does not work you can always do a @Model.PropertyName to acces the model stuffs sicnce its in is linked by the @model directive using strongly typed view*@
                   <option disabled selected>--Select Category--</option>

                </select>
                <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
            </div>
        </div>



        <div class="row ms-3 mb-2 p-2">
            <div class="col-4 g-1">
            <button type="submit" class="form-control btn btn-outline-dark">Create</button>
            </div>
            <div class="col-4 g-1">
            <a class="btn btn-secondary" asp-controller="Category" asp-action="Index">Back to list</a>
            </div>
        </div>
    </div>
</form>



@*Aba esle k garxa vanne kura aayo :
    1) Page refresh na gari client side validation hanxa. Hamrop already lekheko validatons ma client side ni handinxa.
    2) Custom Validations xa vane chai refresh hannai parxa server ma janai parxa.
*@
@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" /> @* partial is a tag helper. This can  be added directly in the page but since this is a script , we insert it in Scripts section*@
    }
}